# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (optional, adjust as needed)
*.csv
*.xlsx

# System files
.DS_Store
Thumbs.db

# Logs
*.log